body{
  background-color: blue;
}

.container{
  background-color: yellow;
  height: auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  background-color: red;
  height: 100px;
  width: 100%;
}

.navbar ul li a{
  text-decoration: none;

}

ul li{
  display: inline;
  float: right;
}
